$color-accent: #182B3A
$color-text: #182B3A
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F3F4EB
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

// Grid System 
$grid-gutter: pxToRem(24)
$grid-gutter-lg: pxToRem(40)
$grid-gutter-xxl: pxToRem(40)
$grid-margin: pxToRem(42)

$font-serif: "RecklessNeue"
$font-sans-serif: "Aspekta"
$body-font-family: $font-sans-serif
$heading-font-family: $font-sans-serif

// h1
$h1-font-family: $font-serif
$h1-size-desktop: pxToRem(84)
$h1-line-height: 100%
$h1-weight: normal

// Lead
$lead-hero-font-family: $font-serif
$lead-hero-size-desktop: pxToRem(62)
$lead-hero-size: pxToRem(24)
$lead-hero-line-height-desktop: pxToRem(74.4)

// Header
$header-background: $color-background
$header-logo-height: 50px
$header-logo-height-desktop: 90px
$header-border-bottom-width: 0

$header-dropdown-background: $color-accent
$header-dropdown-color: white
$header-sticky-dropdown-background: $header-dropdown-background
$header-sticky-dropdown-color: $header-dropdown-color

// Footer
$footer-logo-height-desktop: pxToRem(90)


$icons-site: ()
$icons-site: map-merge($icons-site, ("external": "\e900"))