$color-accent: #182B3A !default
$color-text: #182B3A !default
$color-text-alt: #454545 !default
$color-background: #FFFFFF !default
$color-background-alt: #F3F4EB !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-selection: $color-background !default
$color-selection-background: rgba($color-text, .7) !default
$color-electric-blue: #0258FF
$deep-blue-background-alt: #13232F

// Grid System 
$grid-gutter: pxToRem(24)
$grid-gutter-lg: pxToRem(40)
$grid-gutter-xxl: pxToRem(40)
$grid-margin: pxToRem(42)

$font-serif: "RecklessNeue"
$font-sans-serif: "Rand"
$heading-font-family: $font-sans-serif

// Body
$body-font-family: $font-sans-serif
$body-size-desktop: pxToRem(20)
// h1
$h1-font-family: $font-serif
$h1-size-desktop: pxToRem(84)
$h1-line-height: 100%
$h1-weight: normal

// h2
$h2-size: pxToRem(32)
$h2-size-desktop: pxToRem(46)

// h3
$h3-font-family: $font-serif
$h3-size-desktop: pxToRem(32)
$h3-line-height-desktop: pxToRem(44.8)

// h5 or Section
$h5-font-family: $font-serif
$h5-size-desktop: pxToRem(32)
$h5-line-height-desktop: pxToRem(38.4)
$h5-weight: bold
$h5-text-transform: none

// h6 or tab
$h6-font-family: $font-serif
$h6-size-desktop: pxToRem(26)
$h6-size: pxToRem(18)
$h6-line-height: pxToRem(22.4)
$h6-line-height-desktop: pxToRem(31.2)
$h6-weight: normal
$h6-text-transform: none

// Lead
$lead-font-family: $font-serif
$lead-size-desktop: pxToRem(62)
$lead-line-height-desktop: pxToRem(74)
$lead-weight: normal
$lead-sidebar-size-desktop: $lead-size-desktop
$lead-sidebar-line-height-desktop: $lead-line-height-desktop

// signature
$signature-size-desktop: pxToRem(20)
$signature-line-height-desktop: 100%

// Quotes
$quote-font-family: $font-serif !default
$quote-size-desktop-short: pxToRem(62) !default
$quote-style: normal !default

// Header
$header-dropdown-full: true
$header-background: $color-background !default
$header-color: $color-accent !default
$header-logo-height: 50px
$header-logo-height-desktop: 90px
$header-border-bottom-width: 1
$header-upper-menu-border-bottom: 0
$zindex-header: 1001

$header-dropdown-title-summary-font-size-desktop: pxToRem(24)

// Hero
$hero-background-color: $color-background

// Navs
$body-overlay-color: rgba(0, 0, 0, 0.2)

// Footer
$footer-logo-height: pxToRem(90)
$footer-logo-height-desktop: $footer-logo-height
$zindex-footer: 1001

// Spacing
$space-unit: 4
$spacing-1: space(2)  // 8px
$spacing-2: space(4)  // 16px
$spacing-3: space(6)  // 24px
$spacing-4: space(8)  // 32px
// $spacing-5: space(40) // 40px
// $spacing-6: space(20) // 80px
// $spacing-7: space(40) // 160px

// New icon
$icons-site: ()
$icons-site: map-merge($icons-site, ("external": "\e900"))

// Buttons
$btn-min-width-desktop: pxToRem(134)
$btn-padding-desktop: pxToRem(12) pxToRem(20)
$btn-hover-color: white
$btn-hover-background: $color-accent
$btn-border-radius: pxToRem(3)

// Blocks
// without sidebar 
$block-space-y-desktop: space(30)

// call to action / cta
$block-call-to-action-accent-button-hover-background: rgba(255,255,255, 0.8)
$block-call-to-action-accent-button-hover-border: 1px solid transparent
$block-call-to-action-accent-button-hover-color: $color-text
// light version
// $block-call-to-action-color: $color-text !default
$block-call-to-action-button-background: transparent
$block-call-to-action-button-border: pxToRem(1) solid var(--color-border)
$block-call-to-action-button-color: var(--text-color)
$block-call-to-action-button-hover-background: var(--color-accent)
$block-call-to-action-button-hover-border: pxToRem(1) solid $block-call-to-action-button-hover-background
$block-call-to-action-button-hover-color: var(--color-background)

// key figures
$block-key_figures-number-font-weight: normal

$block-key_figures-font-size: pxToRem(20)
$block-key_figures-number-font-size: pxToRem(40)

$block-key_figures-font-size-desktop: $block-key_figures-font-size
$block-key_figures-number-font-size-desktop: pxToRem(40)

$block-key_figures-font-size-lg: $block-key_figures-font-size
$block-key_figures-number-font-size-lg: pxToRem(80)

$block-key_figures-font-size-xl: $block-key_figures-font-size
$block-key_figures-number-font-size-xl: pxToRem(100)

$block-key_figures-font-size-xxl: $block-key_figures-font-size
$block-key_figures-number-font-size-xxl: pxToRem(100)