{{ $title := or .Params.header_text .Title }}
{{ $direction := "" }}
{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .Params.breadcrumb | default true }}
{{ $subtitle := .Params.subtitle }}
{{ $description := .Params.description }}
{{ if .Params.image }}
  {{ $direction = partial "GetImageDirection" .Params.image }}
{{ end }}

{{ $summary := .Params.Params.summary | safeHTML }}
{{ $subtitle_is_summary := false }}

{{ $button := .Params.button | default .Params.header_cta }}
{{ $title_attribute := "" | safeHTMLAttr }}
{{ if site.Params.search.active }}
  {{ $title_attribute = "data-pagefind-weight='10'" | safeHTMLAttr }}
{{ end }}

{{ if not $subtitle }}
  {{ if and (eq site.Params.summary.position "hero") $summary }}
    {{ $subtitle = $summary }}
    {{ $subtitle_is_summary = true }}
  {{ end }}
{{ end }}

<header class="hero {{ if .Params.image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
  <div class="container">
    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
      {{ partial "header/breadcrumbs.html" . }}
    {{ end }}
    <div class="content">
      <div class="hero-text">
        {{ if or $subtitle $description }}
          <hgroup {{ if $subtitle_is_summary -}} class="has-lead" {{- end }}>
            <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" $title }}</h1>
            {{ with $subtitle }}
              {{ safeHTML . }}
            {{ end }}
          </hgroup>
        {{ else }}
          <h1 {{ $title_attribute }}>{{ partial "PrepareHTML" $title }}</h1>
        {{ end }}

        {{ with $button }}
          {{ if and .display .target .label }}
            {{ $title := .Params.label }}
            {{ $is_external := .Params.external | default false }}
            {{ $link_title := cond $is_external (safeHTML (i18n "commons.link.blank_aria" (dict "Title" $title))) $title }}
            <a href="{{ .target }}" title ="{{ $link_title }}" class="btn" {{ if $is_external -}} target="_blank" rel="noopener" {{- end }}>{{ .label }}</a>
          {{ end }}
        {{ end }}

        {{ if .Params.hero_text_complement }}
          {{ partial .Params.hero_text_complement . }}
        {{ end }}
      </div>

      {{ if .Params.hero_content_complement }}
        {{ partial .Params.hero_content_complement . }}
      {{ end }}

      {{ if .Params.image }}
        <!-- TODO Peut etre aligner la stucture des données avec les autres cas d'images -->
        {{ partial "commons/image-figure.html" (dict
          "image"    .Params.image
          "sizes"    ( .Params.sizes | default site.Params.image_sizes.design_system.hero )
          "lazy"      false
          )
        }}
      {{ end }}
    </div>
    <div class="person-aside">
      {{ $taxonomies := .Params.taxonomies }}
      {{ with $taxonomies }}
        <div class="person-taxonomies">
          {{ range . }}
            {{ if .categories}}
              <p class="taxonomy-heading">
                {{ .name }}
              </p>
              <ul class="taxonomy">
                {{ range .categories }}
                  <li>
                    <a href="{{ .permalink }}" title="{{ i18n "persons.taxonomies.a11y_title" (dict "category" .name )}}">
                      {{ .name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
      {{ with .Params.contact_details }}
        <div class="person-socials">
          <p>{{- i18n "commons.contact.socials.title" -}}</p>
          <ul class="socials-list">
            {{ partial "commons/socials"  .
            }}
          </ul>
        </div>
      {{ end }}
    </div>

    {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
      <div class="container breadcrumb-container">
        {{ partial "header/breadcrumbs.html" . }}
      </div>
    {{ end }}
    </div>
    
</header>

{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
  <div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" . }}
  </div>
{{ end }}