
body
    // page with dark blue background
    &.page-dark_blue_background
        --btn-color: var(--color-text)
        --color-background: #{$color-accent}
        --color-background-alt: #{$deep-blue-background-alt}
        --color-text: white
        --hero-background-color: #{$color-accent}
        --hero-color: var(--color-text)
        --color-text-alt: rgba(255,255,255, 0.8)
        // LAYOUT
        .toc-container
            --color-text: #{$color-text}
            background: $color-background-alt
        .toc-cta button
            span,
            &:after
                color: var(--color-background)
        .hero
            background: var(--hero-background-color)
        // BLOCKS
        .block-pages article:not(:hover) .more
            border: pxToRem(1) solid rgba(255,255,255, 0.4) !important
        .block-pages--cards .card,
        .block-pages--large .page:after
            background-color: $deep-blue-background-alt
        .block-pages--cards .card
            &:hover
                background-color: $color-electric-blue
                &, a
                    color: var(--color-text)
        .block-pages--cards .card,
        .block-pages--large .page
            &:hover
                .more
                    background-color: var(--color-text)
                    color: var(--color-accent)
                    border-color: var(--color-text)
        .block-pages--large .page
            @include media-breakpoint-down(desktop)
                background-color: $deep-blue-background-alt
        .block-testimonials blockquote p
            color: var(--color-text)

    // normal pages
    &:not(.page-dark_blue_background)
        .block-pages--cards .card:not(:hover)
            background-color: $color-background-alt