
body
    // page with dark blue background
    &.page-dark_blue_background
        --btn-color: var(--color-text)
        --color-background: #{$color-accent}
        --color-background-alt: #{$deep-blue-background-alt}
        --color-text: white
        --hero-background-color: #{$color-accent}
        --hero-color: var(--color-text)
        --color-text-alt: rgba(255,255,255, 0.8)

        // LAYOUT
        .toc-container
            --color-text: #{$color-text}
            background: $color-background-alt
        .toc-cta button
            span,
            &:after
                color: var(--color-background)
        .hero
            background: var(--hero-background-color)
        
        // BLOCKS
        .block-pages article:not(:hover) .more
            border: pxToRem(1) solid rgba(255,255,255, 0.4) !important
        
        .block-pages--large .page::after
            background-color: $deep-blue-background-alt !important
        
        .block-pages--cards .page
            background-color: $deep-blue-background-alt
            &:hover
                background-color: $color-electric-blue
                .page-title a,
                p
                    color: var(--color-text)

        .block-pages--cards .page,
        .block-pages--large .page
            &:hover
                .more
                    --btn-background: var(--color-text) !important
                    --btn-color: #{$color-text} !important
                    --btn-border: 1px solid var(--color-text) !important

        .block-testimonials blockquote p
            color: var(--color-text)
        .block-definitions
            --color-border: rgba(255,255,255, 0.2)
            details 
                summary:hover
                    color: var(--color-text)
                &:hover::after
                    border-color: var(--color-border)

    // normal pages
    &:not(.page-dark_blue_background)
        .block-pages--cards .page:not(:hover)
            background-color: $color-background-alt