body.events__page
    @include media-breakpoint-up(desktop)
        .hero
            &:not(.hero--with-image)
                .hero-text
                    align-items: flex-start
                    h1, hgroup
                        text-align: left
                        max-width: columns(10)
                    .taxonomies-single
                        order: unset
                        width: columns(8)
            &.hero--image-square,
            &.hero--image-portrait,
            &.hero--image-landscape
                .hero-text
                    text-align: left
                    margin-top: $spacing-5
                    // width: columns(12) !important
                    h1
                        margin-right: 0
                        width: 100% !important
                        margin-right: 0 !important
                        margin-bottom: $spacing-5
                        max-width: 100%
                    .taxonomies-single
                        width: columns(6)
        .document-content
            .block-summary
                .block-content
                    padding-left: 0 !important
                .lead
                    p
                        @include h3
            .blocks,
            .block-summary
                .block-content
                    margin-right: unset
                    width: columns(6)
            .block-persons
                .block-content
                    width: columns(8)
                    .person
                        gap: var(--grid-gutter)
                        &-name
                            @include h2
                    .description
                        margin-top: 0
                        width: columns(6)
                        @include media-breakpoint-up(xxl)
                            margin-left: offset(0.5)

.events--agenda
    .event-hours
        time + time
            font-family: $h1-font-family
            font-weight: bold

    .events-date,
    .events-date--sticky
        @include media-breakpoint-up(md)
            .events-date-title
                span
                    padding-top: $spacing-3

        @include media-breakpoint-down(md)
            .events-scheduled
                > li
                    margin-top: 0
                .event
                    .event-hours
                        margin-top: 0
                    .media
                        margin-bottom: $spacing-2