header#document-header
    nav
        @include media-breakpoint-up(desktop)
            .container
                align-items: baseline
                .dropdown-menu
                    border-radius: space(2)
                    box-shadow: 0px 4px 4px 0px #00000040
                    margin-top: 0
                    min-width: pxToRem(256)
                    a
                        @include meta
            + nav 
                padding-top: 0
        &.websites-navigation
            @include meta
            padding-bottom: 0
            ul
                @include list-reset
            .container > ul
                display: flex
                justify-content: flex-end
                margin-left: auto
                > li
                    > a,
                    &.header-i18n span
                        border-radius: pxToRem(20)
                        padding: space() $spacing-2
                        text-decoration: none
                        @include media-breakpoint-up(desktop)
                            padding: space() space(4)
                            border-radius: pxToRem(30)
                    > a
                        &:not(.external-site)
                            background: var(--color-accent)
                            color: white
                        &.external-site
                            background: transparentize(#182B3A, 0.9) // --color accent
                            &::after
                                display: none
                    &:first-of-type
                        > a.external-site
                            border-bottom-right-radius: 0
                            border-top-right-radius: 0
                            margin-right: -$spacing-2
                            padding-right: space(5)
                        > a:not(.external-site)
                            margin-left: -$spacing-2
                    &:nth-child(2)
                        > a.external-site
                            border-bottom-left-radius: 0
                            border-top-left-radius: 0
                            margin-left: -$spacing-2
                            padding-left: space(5)
                    &.header-i18n
                        margin-left: $spacing-2
                        position: relative
                        span
                            @include icon(arrow-down-s-line, after)
                                display: inline-block
                                margin-left: space()
                                margin-right: -(space())
                                transition: transform 0.15s
                            border: 1px solid var(--color-accent)
                            cursor: pointer
                            text-transform: uppercase
                            &[aria-expanded="true"]::after
                                transform: rotate(180deg)
                        .dropdown-menu
                            margin-top: $spacing-2
                            min-width: unset
                            padding: $spacing-1 $spacing-2
                            position: absolute
                            right: 0
                            a
                                color: $header-dropdown-color