// Hero and summary style
.hero
    .content
        flex-direction: column
        align-items: center
        .hero-text
            text-align: center
            width: 100%
        figure
            margin-top: $spacing-5
            @include media-breakpoint-up(desktop)
                width: 100%
                .page__home
                    width: columns(8)
.block-summary
    @include in-page-without-sidebar
        .lead
            text-align: center
            @include media-breakpoint-up(desktop)
                margin: auto
                width: columns(9)