// Hero and summary style
.hero
    .content
        flex-direction: column
        align-items: center
        .hero-text
            text-align: center
            width: 100%
        figure
            margin-top: $spacing-5
            @include media-breakpoint-up(desktop)
                width: 100%
                .page__home &
                    width: columns(8)

.block-summary
    @include in-page-without-sidebar
        .lead
            text-align: center
            @include media-breakpoint-up(desktop)
                margin: auto
                width: columns(9)

.toc-container
    @include in-page-with-sidebar
        width: columnns(3)
    @include media-breakpoint-up(desktop)
        + .block-summary 
            padding-bottom: $spacing-6
            @include in-page-with-sidebar
                .lead
                    padding-left: offset(2)