// Hero and summary style
.hero
    .content
        flex-direction: column
        align-items: center
        .hero-text
            text-align: center
            width: 100%
            @include media-breakpoint-down(desktop)
                a.btn
                    white-space: initial
                    display: block
        figure
            margin-top: $spacing-5
            @include media-breakpoint-up(desktop)
                width: 100%
                .page__home &
                    width: columns(8)

// general properties for summary
.block-summary,
.lead
    @include in-page-without-sidebar
        margin-left: auto
        margin-right: auto
        text-align: center

.block-summary
    @include in-page-with-or-without-sidebar
        margin-bottom: $spacing-6
    @include in-page-without-sidebar
        .lead
            width: columns(9)

@include media-breakpoint-up(desktop)
    // sidebar
    body:not(.full-width),
    body.full-width
        .section-sidebar.post-sidebar
            width: columns(3)

    // post page
    .posts__page:not(.full-width),
    .posts__page.full-width,
    .events__page:not(.full-width),
    .events__page.full-width
        .block-summary
            .block-content
                padding-left: offset(3) !important
        .post-sidebar > div
            html:not(.is-scrolling-down) &,
            &
                position: relative
                top: 0