.page__home
    @include media-breakpoint-up(desktop)
        .hero
            .hero-text
                align-items: center
                display: flex
                justify-content: center
                height: calc(100vh - (#{$spacing-5} * 2) - var(--header-height))
                position: relative
                margin-top: 0
                h1
                    position: fixed
                    height: fit-content
                    width: columns(10)
                    opacity: 0
            figure
                margin-top: 0
        &.is-loaded .hero .hero-text h1
            opacity: 1
    .block-class-centered-title
        + .block-testimonials
            margin-top: space(25)
    .block-class-centered-title,
    .block-chapter:not(.block-chapter--alt_background)
        @include media-breakpoint-up(desktop)
            display: block
            > *
                margin-left: auto
                margin-right: auto
                text-align: center
                width: columns(8)
    .block-pages--list.with-description
        border-bottom: 1px solid $color-border
        padding-bottom: $spacing-6
        .block-title
            @include h2
            a::after
                display: none
            @include media-breakpoint-up(desktop)
                    padding-top: $spacing-6
                    margin-top: $spacing-4
    .block-chapter:not(.block-chapter--alt_background)
        @include media-breakpoint-up(desktop)
            padding-top: $spacing-2
            p
                @include h2
                font-size: $h2-size
                font-family: $font-serif
    .block-posts,
    .block-agenda
        @include media-breakpoint-up(desktop)
            .top
                margin-bottom: space(25)
                .block-title
                    @include h2
                    a::after
                        display: none
            .post,
            .event
                &-title,
                &-subtitle
                    @include h2
                    font-family: $font-serif