.persons__page
    .hero
        min-height: unset
        @include media-breakpoint-down(desktop)
            &,
            .container
                margin-bottom: $spacing-4 !important
        @include media-breakpoint-up(desktop)
            margin-bottom: $spacing-3
            padding-bottom: 0
        @include media-breakpoint-up(xxl)
            margin-bottom: $spacing-5
        .container
            position: relative
        .content
            align-items: flex-start
            @include media-breakpoint-down(desktop)
                position: relative
            .hero-text
                text-align: left
                h1
                    width: columns(10)
            figure
                @include media-breakpoint-up(desktop)
                    position: absolute
                    margin-top: 0
                    top: calc(100% + #{$spacing-3})
                    width: columns(2.5)
                    z-index: 10
                    @include media-breakpoint-up(xxl)
                        top: calc(100% + #{$spacing-5})
                        width: columns(3)
                @include media-breakpoint-down(desktop)
                    margin-bottom: 0
                    margin-top: $spacing-4

    .document-content
        .container
            position: relative
        @include media-breakpoint-down(desktop)
            .lead
                margin-bottom: var(--block-space-y)
        @include media-breakpoint-up(desktop)
            .informations
                .biography
                    grid-column: 6 / 13
                    @include media-breakpoint-up(xxl)
                        grid-column: 7 / 13
                    .lead
                        @include h3
                        text-align: left

            .section-sidebar
                position: absolute
                left: 0
                z-index: 9
                .persons-meta,
                .persons-taxonomies
                    flex-direction: column !important
                .persons-meta.with-labels
                    &, .persons-taxonomies
                        flex-direction: column !important
                        > li
                            width: columns(3) !important
                    
                .taxonomies .taxonomy-title,
                .persons-meta > li > span
                    @include h4
                .taxonomies
                    order: -1 !important
                .email
                    a
                        @include button-accent
                        --btn-color: #{$color-background}
                        --btn-background: #{$color-electric-blue}
                        --btn-hover-background: #{alphaColor($color-electric-blue, 0.85)}
                        --btn-padding: 12px 30px
                        min-width: unset
                        text-decoration: none
                        font-size: 0
                        &::before
                            @include meta
                            content: 'Mail'
                            display: block