.persons__page
    .hero
        &,
        .container
            @include media-breakpoint-down(desktop)
                margin-bottom: $spacing-6
        .content
            align-items: flex-start
            .hero-text
                text-align: left
                h1
                    width: columns(10)
            figure
                @include media-breakpoint-up(desktop)
                    margin-top: 0
                    position: absolute
                    top: calc(100% + (#{$spacing-5}))
                    width: columns(2)
                    @include media-breakpoint-up(xxl)
                        width: columns(3)
                @include media-breakpoint-down(desktop)
                    margin-left: 0
    .document-content
        @include media-breakpoint-up(desktop)
            .informations
                .biography
                    grid-column: 6 / 13
                    @include media-breakpoint-up(xxl)
                        grid-column: 7 / 13
                    .lead
                        @include h3
                        text-align: left
            .contacts-details
                margin-left: offset(5)
                width: columns(6)
                @include media-breakpoint-up(xxl)
                    margin-left: offset(6)