{{ $options := .options }}
{{ $heading_tag := partial "GetHeadingTag" (dict 
  "level" ( .heading_level | default 3 )
  "attributes" "class='page-title'"
)}}

<ul class="pages">
  {{ range .pages }}
    {{ $class := partial "pages/partials/page/helpers/GetClass" (dict
      "options" $options
      "page" .
    ) }}
    <li>
      <article class="{{ $class }}">
        {{ $heading_tag.open }}
          <a href="{{- .Permalink -}}">
            {{- safeHTML .Title -}}
          </a>
        {{ $heading_tag.close }}

        {{- partial "pages/partials/page/hooks/after-title.html" . -}}

        {{ if and $options.summary .Params.summary }}
          {{ partial "commons/summary/helpers/GetTruncated" ( dict 
            "summary" .Params.summary
            "kind" "pages"
          )}}
        {{ end }}

        {{ if and $options.categories .Params.taxonomies }}
          {{ partial "commons/categories" ( dict
            "context" .
            "kind" "page"
          )}}
        {{ end }}

        {{ if $options.summary }}
          <p class="more meta" aria-hidden="true">{{- i18n "commons.more" -}}</p>
        {{ end }}

        {{ if $options.image }}
          {{ partial "pages/partials/page/media.html" (dict 
            "image" .Params.image
            "layout" "grid"
          )}}
        {{ end }}
      </article>
    </li>
  {{ end }}
</ul>